@import "tailwindcss";

@theme {
  --animate-slide: slide 1.5s linear infinite;
  --animate-slide-down: slide-down 1.5s linear infinite;
}

@keyframes slide {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes slide-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.animated-path {
  stroke-dasharray: 8;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -16;
  }
}
